/* RESET & GLOBAL FIXES */
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #ebe9e1;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* NAVBAR */

.navbar-container {
  width: 100%;
  position: sticky;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  background-color: #ebe9e1;
  top: 0;
  z-index: 100;
}

.navbar {
  display: flex;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}

.left-side-nav {
  display: flex;
  align-items: center;
  flex-grow: 0;
  padding-left: 20px;
}

.left-side-nav img {
  width: 150px;
  height: 150px;
  display: block;
}

.left-side-nav .logo {
  font-size: 32px;
  font-family: "Cormorant Garamond", sans-serif;
  font-weight: 550;
}

.right-side-nav {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
}

.right-side-nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: center;
  gap: 45px;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.nav-item {
  margin-left: 0;
  font-size: 16px;
  display: flex;
  font-family: "Poppins", sans-serif;
}

.nav-item a {
  text-decoration: none;
  color: black;
  transition: color 0.3s ease;
}

.nav-item a:hover {
  color: #5a5a5a;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 6px;
  padding-right: 20px;
}

.bar {
  width: 30px;
  height: 3px;
  background-color: black;
  border-radius: 2px;
  transition: all 0.3s ease-in-out;
}

/* HERO */

.hero-section {
  position: relative;
  width: 100%;
  height: 85vh;
  overflow: hidden;
}

.hero-image-container {
  width: 100%;
  height: 100%;
}
.hero-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.9);
}

.hero-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
}

.hero-content-container {
  margin-bottom: 100px;
  width: 100%;
}

.hero-title {
  font-size: 72px;
  margin-bottom: 5px;
  font-family: "Cormorant Garamond", sans-serif;
  font-weight: 400;
  word-wrap: break-word;
}

.hero-tagline {
  font-size: 24px;
  margin-bottom: 30px;
}

.cta-button {
  font-size: 14px;
  text-transform: uppercase;
  background-color: #f9f8f4;
  padding: 10px 30px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  opacity: 0.8;
}

/* About */

.about-section {
  background-color: #ebe9e1;
  justify-content: center;
  align-items: center;
  height: 85vh;
  display: flex;
  flex-direction: column;
}

.about-content-container {
  width: 90%;
  max-width: 800px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.about-content-container h4 {
  font-family: "Cormorant Garamond", serif;
  font-size: 42px;
  font-weight: 500;
  color: #333333;
  text-transform: uppercase;
}

.about-content-container p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #5a5a5a;
  margin-bottom: 80px;
}

.grid-column-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-bottom: 80px;
}

.grid-box {
  background-color: #f9f8f4;
  border: 1px solid;
  height: 250px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.grid-box img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* Services */

.services-section {
  background-color: #2c3e31;
  padding: 100px 0;
  min-height: 85vh;
  text-align: center;
}

.services-container {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
}

.services-container h1 {
  font-family: "Cormorant Garamond", serif;
  font-size: 48px;
  font-weight: 400;
  color: #f9f8f4;
  margin-bottom: 10px;
  margin-top: 0;
}

.services-container p {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  line-height: 1.6;
  color: #f9f8f4;
  opacity: 0.8;
  max-width: 600px;
  margin: 0 auto 50px;
}

.services-grid-container {
  display: grid;
  grid-template-columns: 350px 350px 350px;
  gap: 30px;
  justify-content: center;
}

.services-grid-column {
  height: 400px;
  position: relative;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  border: 10px solid #f6e1c3;
  overflow: hidden;
}

.services-grid-column img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* Contact */

.contact-section {
  background-color: #ebe9e1;
  color: black;
  min-height: 85vh;
  padding: 50px 0;
  width: 100%;
}

.contact-section-container {
  display: flex;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.contact-text-container {
  width: 100%;
  padding: 20px 0;
  margin-bottom: 30px;
  text-align: left;
}

.contact-section-container h4 {
  font-size: 36px;
  font-family: "Cormorant Garamond", sans-serif;
  font-weight: 600;
  margin-top: 0;
  color: black;
}

.contact-section-container p {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  width: 80%;
}

.contact-left-side {
  width: 70%;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.contact-right-side {
  width: 28%;
  display: flex;
  justify-content: flex-end;
}

.contact-grid-column {
  flex: 0 0 400px;
  height: 550px;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  max-width: 100%;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.3);
}

.contact-grid-column img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.contact-grid-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 2px 20px;
  background-color: rgba(249, 248, 244, 0.9);
  color: #2c3e31;
  text-align: left;
}

.contact-grid-text-header {
  font-family: "Cormorant Garamond", sans-serif;
  font-size: 22px;
  font-weight: 600;
  margin: 0 0 10px 0;
}

.contact-grid-text-paragraph {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: #333;
  border-radius: 5px;
}

.contact-form h5 {
  font-size: 28px;
  font-family: "Cormorant Garamond", sans-serif;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 20px;
  color: black;
}

.contact-form input[type="email"],
.contact-form input[type="text"],
.contact-form textarea {
  width: 100%;
  padding: 15px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

.contact-form textarea {
  resize: none;
  min-height: 150px;
}

.contact-submit-btn {
  background-color: #2c3e31;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
  align-self: flex-end;
}

/* Footer */

.footer-section {
  background-color: #2c3e31;
  color: #fff;
  padding: 80px 40px;
  font-family: "Poppins", sans-serif;
}

.footer-container {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 1px solid #4a6859;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
}

.left-side-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-header {
  font-family: "Cormorant Garamond", sans-serif;
  font-size: 24px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 8px;
}

.footer-paragraph {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 32px;
  max-width: 300px;
}

.underline {
  width: 50px;
  height: 2px;
  background-color: #a3b18a;
  margin-bottom: 32px;
}

.footer-icons-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 16px;
}

.footer-icon a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  transition: all 0.3 ease-in-out;
}

.footer-icon a:hover {
  transform: scale(1.1);
}

.footer-icon img {
  width: 24px;
  height: 24px;
  object-fit: cover;
  display: block;
  filter: brightness(0) invert(1);
}

.right-side-footer {
  margin-left: 20px;
}

.right-side-footer-header {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.ride-side-footer-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links {
  margin-bottom: 10px;
}

.footer-links a {
  text-decoration: none;
  color: #f9f8f4;
  font-size: 16px;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: #a3b18a;
  text-decoration: underline;
}

.copyright-text {
  width: 100%;
  text-align: center;
  font-size: 14px;
  color: #a3b18a;
  margin-top: 32px;
}

/* Responsive */

@media screen and (max-width: 1024px) {
  .right-side-nav ul {
    gap: 25px;
  }

  .hero-title {
    font-size: 56px;
  }

  .about-section {
    height: auto;
    padding: 80px 0;
  }

  .grid-column-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .services-section {
    height: auto;
    padding: 80px 0;
  }

  .services-grid-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 450px;
    margin: 0 auto;
  }

  .services-grid-column {
    width: 250px;
    height: 350px;
  }

  .contact-section {
    height: auto;
    margin-right: 0;
    width: 100%;
  }

  .contact-section-container {
    flex-direction: column;
    display: flex;
    width: 100%;
    padding: 0 40px;
  }

  .contact-text-container {
    padding: 0;
    margin-bottom: 40px;
    width: 100%;
  }

  .contact-left-side {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 50px;
  }

  .contact-right-side {
    width: 100%;
    justify-content: center;
    display: flex;
  }

  .contact-form {
    max-width: 100%;
    width: 100%;
    align-items: stretch;
  }

  .contact-form input,
  .contact-form textarea {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
  }

  .left-side-nav {
    display: none;
  }

  .left-side-nav .logo {
    font-size: 24px;
  }

  .right-side-nav {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #ebe9e1;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-in-out, padding 0.4s ease;
    padding: 0;
    display: block;
    z-index: 99;
  }

  .right-side-nav.active {
    max-height: 400px;
    padding-bottom: 20px;
  }

  .right-side-nav ul {
    flex-direction: column;
    width: 100%;
    padding-top: 20px;
    gap: 25px;
  }

  .nav-item {
    width: 100%;
    justify-content: center;
    margin: 0;
  }

  .hamburger {
    display: flex;
    padding-right: 0;
    margin-left: 0;
    align-self: center;
  }

  .hamburger .bar.open:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
  }
  .hamburger .bar.open:nth-child(2) {
    opacity: 0;
  }
  .hamburger .bar.open:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
  }

  .hero-section {
    height: 85vh;
  }

  .hero-title {
    font-size: 42px;
  }

  .hero-tagline {
    font-size: 18px;
  }

  .about-content-container h4 {
    font-size: 32px;
  }

  .grid-column-container {
    grid-template-columns: 1fr;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .services-container h1 {
    font-size: 36px;
  }

  .services-grid-container {
    grid-template-columns: 1fr;
    max-width: 450px;
    margin: 0 auto;
  }

  .services-grid-column {
    margin-right: auto;
    margin-left: auto;
  }

  .contact-section {
    padding: 60px 0;
    height: auto;
  }

  .contact-section-container {
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 0 20px;
    width: 100%;
  }

  .contact-text-container {
    text-align: center;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
  }

  .contact-text-container h4 {
    font-size: 32px;
    margin-bottom: 15px;
  }

  .contact-text-container p {
    font-size: 18px;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
  }

  .contact-left-side {
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .contact-grid-column {
    flex: none;
    width: 100%;
    max-width: 500px;
    height: 400px;
    margin: 0 auto;
  }

  .contact-right-side {
    width: 100%;
    justify-content: center;
    margin-right: 0;
  }

  .contact-form {
    width: 100%;
    padding: 0;
    border-radius: 10px;
    max-width: 100%;
  }

  .contact-form input,
  .contact-form textarea {
    width: 100%;
  }

  .contact-form h5 {
    text-align: center;
    font-size: 26px;
  }

  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 40px;
  }

  .left-side-footer {
    align-items: center;
  }

  .underline {
    margin: 15px auto 32px auto;
  }

  .right-side-footer {
    margin-left: 0;
  }
}
@media screen and (max-width: 480px) {
  html,
  body {
    width: 100%;
    min-width: 320px;
  }

  .left-side-nav {
    display: none;
  }

  .left-side-nav .logo {
    font-size: 24px;
  }

  .right-side-nav {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #ebe9e1;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-in-out, padding 0.4s ease;
    padding: 0;
    display: block;
    z-index: 99;
  }

  .right-side-nav.active {
    max-height: 400px;
    padding-bottom: 20px;
  }

  .right-side-nav ul {
    flex-direction: column;
    width: 100%;
    padding-top: 20px;
    gap: 25px;
  }

  .nav-item {
    width: 100%;
    justify-content: center;
    margin: 0;
  }

  .hamburger {
    display: flex;
    padding-right: 0;
    margin-left: 0;
    align-self: center;
  }

  .hero-section {
    height: 85vh;
    display: flex;
  }

  .hero-title {
    font-size: 42px;
    text-align: center;
  }

  .hero-tagline {
    font-size: 18px;
    text-align: center;
  }

  .about-content-container h4 {
    font-size: 32px;
  }

  .grid-column-container {
    grid-template-columns: 1fr;
    width: 100%;
    padding: 0 20px;
    margin-left: 0;
    margin-right: 0;
  }

  .services-container h1 {
    font-size: 36px;
  }

  .services-grid-container {
    grid-template-columns: 1fr;
    max-width: 100%;
    padding: 0 20px;
    margin: 0 auto;
  }

  .services-grid-column {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    max-width: 350px;
  }

  .contact-section-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 15px;
  }

  .contact-text-container {
    width: 100%;
    max-width: 100%;
    text-align: center;
    padding: 0;
  }

  .contact-left-side {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .contact-grid-column img {
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  .contact-grid-column {
    width: 100%;
    max-width: 100%;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
  }

  .contact-right-side {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contact-form {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0;
    padding: 0;
  }

  .input-group {
    width: 100%;
    max-width: 100%;
    margin-bottom: 15px;
  }

  .input-group input,
  .input-group textarea {
    width: 100%;
  }

  .contact-form h5 {
    font-size: 26px;
    text-align: center;
  }

  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 40px;
    padding: 0 20px;
  }

  .left-side-footer {
    align-items: center;
  }

  .underline {
    margin: 15px auto 32px auto;
  }

  .right-side-footer {
    margin-left: 0;
  }
}
